.package-summary{
    margin-top: 0;
}

.package-summary .message {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.package-summary .grid-refresh-button {
    margin-bottom: 0;
}

.package-summary__title {
  display:block;
}

.gridfield-button-link {
    margin-bottom: 12px;
}

.package-summary table.grid-field__table tr td.col-Summary {
    padding: 0;
}

.package-summary td {
    vertical-align: middle;
}

a.package-summary__anchor {
    color: inherit;
    text-decoration: inherit;
    display: block;
    padding: 1.23rem;
}

a.package-summary__anchor:hover,
a.package-summary__anchor:active {
    color: inherit;
    text-decoration: inherit;
}

.gridfield-dropdown-filter {
    padding-right: 10px;
}

.gridfield-dropdown-filter button {
    display: none;
}

/* Move this to webpack when https://github.com/bringyourownideas/silverstripe-maintenance/pull/85 is merged */
.site-summary__more-info {
    color: inherit;
    /* use a variable for this */
    margin: .6154rem;
}

.site-summary__more-info:hover {
    text-decoration: none;
    color: inherit;
}
