// Make the trigger look like an anchor
.package-summary__module-info-trigger {
  padding: 0;
}

// Remove the background from the default popover header
.package-summary__details-header {
  padding-bottom: 0;
  padding-top: $popover-padding;
  background: 0;
  border: 0;
}
