// Make the trigger look like an anchor
.package-summary__module-info-trigger {
  padding: 0;
}

// Remove the background from the default popover header
.package-summary__details-header {
  padding-bottom: 0;
  padding-top: $popover-padding;
  background: 0;
  border: 0;
}

.package-summary__security-alerts {
  margin-top: $popover-padding;
  margin-bottom: $popover-padding * .5;

  h4 {
    margin-bottom: $popover-padding * .5;
  }

  // Undoing the default styles that come for .popover-body a from admin module
  a {
    background: none;
    color: inherit;
    padding: 0;
    text-decoration: underline;

    &:hover {
      background: none;
      color: inherit;
      text-decoration: underline;
    }
  }
}
.package-summary__details-header {
  display: flex;

  a {
    text-decoration: none;
    color: $body-color;
  }
}
