// Make the trigger look like an anchor
.package-summary__module-info-trigger {
  color: $link-color;
  cursor: pointer;
}

// Remove the admin styles that render buttons in a list (e.g secondary actions in CMS)
.package-summary__details-popover .popover-body .btn {
  padding: inherit;
  margin: inherit;
  width: fit-content;
  border-radius: $border-radius;
}
